<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
</head>
<body>
   <h1>{{title}}</h1>
<div> 
   {{#each songEntries}} 
      <h1>{{this.id}}  title: {{this.title}}</h1> 
      <p>composer: {{this.composer}}</p> 
      <p>key: {{this.key}}</p> 
      <p>bars: {{this.bars}}</p> 
	{{/each}} 
</div>
</body>
</html>
