<!DOCTYPE html>
<html>
<head>
  <title> {{title}} </title>
  <script  src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <style>
    body {
      font-family: 'Roboto Slab', serif;
    }

    h3 {

    }
    #spicesList {
      width: 30%;
      float: right;
    }

    #ingredientsList {

    }

  </style>
  <link>
</head>
<body>
   {{#each Recipe}}

      <h1> {{this.recipe_name}} </h1>
      <hr>

      <div id="aboutRecipe">
         {{this.contributor}}
          <h3 style="text-align: center;"> Spices </h3>
          <ul>
            {{#each this.spices}}
              <li> {{this}} </li>
            {{/each}}
          </ul>
      </div>

      <div id="ingredientsList">
        <h3> Ingredients </h3>
        <ul>
          {{#each this.ingredients}}
            <li> {{this}} </li>
          {{/each}}
        </ul>
      </div>

      <p>{{this.directions}} </p>
    {{/each}}
   </div>
  </body>
</html>
